<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: MIT; ES-DE-Plus — written for ES-DE-Plus. CI-only recipient. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application android:label="ES-DE Plus recipient" android:allowBackup="false"
        android:appCategory="game" android:requestLegacyExternalStorage="true"
        android:icon="@android:drawable/ic_menu_view" android:banner="@android:drawable/ic_menu_view"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".RecipientActivity" android:exported="true" android:launchMode="singleTask">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /><category android:name="android.intent.category.LEANBACK_LAUNCHER" /></intent-filter>
        </activity>
        <activity-alias android:name=".CollisionOne" android:targetActivity=".RecipientActivity" android:exported="true" android:label="Collision/🚀">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".CollisionTwo" android:targetActivity=".RecipientActivity" android:exported="true" android:label="Collision\🚀">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity-alias android:name=".TelevisionOnly" android:targetActivity=".RecipientActivity" android:exported="true" android:label="TV 🚀">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LEANBACK_LAUNCHER" /></intent-filter>
        </activity-alias>
        <activity android:name=".PrivateActivity" android:exported="false" />
        <activity android:name=".ProtectedActivity" android:exported="true" android:permission="android.permission.MANAGE_USERS" />
        <activity android:name=".DisabledActivity" android:exported="true" android:enabled="false" />
        <receiver android:name=".CoreReceiver" android:exported="true">
            <intent-filter><action android:name="com.retroarch.QUERY_INSTALLED_CORES" /></intent-filter>
        </receiver>
    </application>
</manifest>
