<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: MIT; ES-DE-Plus — written for ES-DE-Plus. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <application android:label="@string/app_name" android:icon="@drawable/placeholder_icon"
        android:appComponentFactory="org.esdeplus.frontend.FrontendActivityFactory"
        android:banner="@drawable/tv_banner" android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="false"
        android:theme="@style/AppTheme" android:allowBackup="false" android:hasCode="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|grammaticalGender|layoutDirection|locale|mcc|mnc|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation|touchscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias android:name=".HomeEntry" android:targetActivity=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name=".LeanbackEntry" android:targetActivity=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity android:name=".ConfiguratorActivity" android:exported="false" android:launchMode="singleTop" />
        <provider android:name=".bridge.RomProvider" android:authorities="${applicationId}.roms"
            android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
